<nz-modal [(nzVisible)]="isVisible" [nzWidth]="modalWidth" (nzOnCancel)="onBack()" [nzStyle]="{'top': '50px'}">
  <div *nzModalTitle>{{ title }}</div>
  <ng-container *nzModalContent>
    <form nz-form class="search-form" [formGroup]="searchForm" (keydown.enter)="$event.preventDefault();onSearch()" nzLayout="inline">
            <nz-form-item>
        <nz-form-label nzFor="roomNumber">房号</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSearch [nzAddOnAfter]="roomNumberSuffixIconButton">
            <input nz-input formControlName="roomNumber" placeholder="请选择房号" readonly />
          </nz-input-group>
          <ng-template #roomNumberSuffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="findRoom()"><nz-icon nzType="search" /></button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="staffName">员工姓名</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSearch [nzAddOnAfter]="staffNameSuffixIconButton">
            <input nz-input formControlName="staffName" placeholder="请选择员工姓名" readonly />
          </nz-input-group>
          <ng-template #staffNameSuffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="findStaff()"><nz-icon nzType="search" /></button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="staffPhone">员工联系电话</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSearch [nzAddOnAfter]="staffPhoneSuffixIconButton">
            <input nz-input formControlName="staffPhone" placeholder="请选择员工联系电话" readonly />
          </nz-input-group>
          <ng-template #staffPhoneSuffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="findStaff()"><nz-icon nzType="search" /></button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <button nz-button type="button" nzType="primary" [nzLoading]="searchLoading" (click)="onSearch()">查询</button>
      <button nz-button type="button" class="margin-button" (click)="onReset()">重置</button>
    </form>
    <nz-table #basicTable [nzData]="listOfData" [nzTotal]="total" [nzLoading]="searchLoading" nzSize="small">
      <thead>
        <tr>
          <th>房号</th>
          <th>员工姓名</th>
          <th>员工联系电话</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>维护内容</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data" (dblclick)="onRowDblClick(data, $event)">
          <td>{{data.roomNumber}}</td>
          <td>{{data.staffName}}</td>
          <td>{{data.staffPhone}}</td>
          <td>{{data.startTime}}</td>
          <td>{{data.endTime}}</td>
          <td class="ellipsis">{{data.content}}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <div class="form-button-container">
      <button nz-button nzType="default" (click)="onBack()">关闭</button>
    </div>
  </div>
</nz-modal>
<room-selector (roomSelectedEvent)="handleRoomSelectedEvent($event)"></room-selector>
<staff-selector (staffSelectedEvent)="handleStaffSelectedEvent($event)"></staff-selector>
